@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<h1>Add Your Favorite Movies</h1>

<form>
    <label for="" id="">Category</label><br />
    <input /><br /><br />

    <label for="" id="">Title</label><br />
    <input /><br /><br />

    <label for="" id="">Year</label><br />
    <input /><br /><br />

    <label for="" id="">Director</label><br />
    <input /><br /><br />

    <label for="" id="">Rating</label><br />
    <select />
    <option value="G">G</option>
    <option value="PG">PG</option>
    <option value="PG-13">PG-13</option>
    <option value="R">R</option>
    <br /><br />

    <label for="" id="">Edited</label><br />
    <input /><br /><br />

    <label for="" id="">Lent to:</label><br />
    <input /><br /><br />

    <label for="" id="">Notes</label><br />
    <input /><br /><br />'
</form>