@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<h1>Get to Know Joel</h1>

<br />

<h3> Joel performs regularly at Quick Wits Comedy, check em out!</h3>
<a href="https://www.qwcomedy.com/" target="_blank">Quick Wits Comedy</a><br /><br />

<h3> See Joel's' weekly podcast about films & pop culture called Baconsale</h3>
<a href="https://baconsale.com/" target="_blank"><img src="~/img/BaconsaleKate.jpg" height="500px"/></a><br />
<a href="https://baconsale.com/" target="_blank">Baconsale</a>