@{
    ViewData["Title"] = "Home Page";
}

<h1>The Joel Hilton Film Collection</h1>

<div class="">
    <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
    <img src="~/img/JoelHiltonHeadshot.jpg" height="500px"/>
</div>

<br />

<div>

</div>
